.pillContent {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  padding: 30px 100px;
  gap: 10px;

  @media only screen and (max-width: 749px) {
    width: 100vw;
    height: 100%;
    background: white;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .pill {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 30px;
    color: $blue;
    margin: 5px;
    border-radius: 7px;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      background: $gray1;
    }
    &.selected {
      background: $gray1;
    }
  }
}