.mobileNav {
  display: none;
  @media only screen and (max-width: 749px) {
    display: flex;
    padding: 10px 20px;
    border-bottom: 1px solid $gray1;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__text {
      font-size: 14px;
      color: $gray;
    }

    &__link {
      font-size: 14px;
      color: $blue;
    }

    &__icon {
      color: $blue;
    }
  }
}