.cruise-search-widget{
  &__toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 40px 0 40px;
    border-bottom: 1px solid $gray1;
    cursor: pointer;
    height: 108px;

    &__title {
      display: none;
    }

    @media only screen and (max-width: 749px) {
      width: 100%;
      flex-direction: column;
      padding: 20px;
      border: none;
      height: 100%;

      &__title {
        display: block;
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
        color: $gray;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
  &__filter {
    flex: 3;
    padding: 24px 0;
    &.selected {
      border-bottom: 6px solid $gray1;
    }
    &:hover {
      border-bottom: 6px solid $gray1;
    }

    @media only screen and (max-width: 749px) {
      flex: 1;
      padding: 10px 0;
      margin-bottom: 10px;
      border: 1px solid $gray1;
    }
  }
  &__cta {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    &--align-right {
      justify-content: flex-end;
      
      @media only screen and (max-width: 749px) {
        justify-content: center;
        margin-top: 20px;
      }
    }

    & button {
      padding: 3px 25px;
      font-size: 11px;
      letter-spacing: 1px;
      text-transform: uppercase;
      background: $blue;
      color: white;
      border: none;
      height: 38px;
      cursor: pointer;

      &:hover {
        background: darkblue;
      }
    }
  }
  &__label {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $gray;
    padding: 0 20px;
    
    @media only screen and (max-width: 749px) {
      display: none;
    }
  }
  &__selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  &__selection {
    color: $blue;
    font-size: 16px;
  }
  &__icon i {
    color: $blue;
  }
}
