.calendar {
  width: 250px;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 749px) {
    margin-top: 30px;
  }

  &__box {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto 0 auto;

    @media only screen and (max-width: 749px) {
      width: 100vw;
      height: 100%;
      background: white;
      flex-direction: column;
      margin: 0;
      padding: 10px;
    }
  }

  &__title {
    text-align: center;
    font-weight: 100;
    color: $gray;
    padding: 10px 0;
    position: relative;

    @media only screen and (max-width: 749px) {
      &::before {
        content: "";
        position: absolute;
        border-bottom: 1px solid gray;
        top: 25px;
        width: 80px;
        left: 0px;
      }
      &::after {
        content: "";
        position: absolute;
        border-bottom: 1px solid gray;
        top: 25px;
        width: 80px;
        right: 0px;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__month {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 45px;
    font-size: 14px;
    color: $blue;
    cursor: pointer;

    &.start {
      background: linear-gradient(90deg, white 50%, $gray1 50%);

      & span {
        background: $blue;
        border-radius: 100%;
        width: 45px;
        height: 45px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &.end {
      background: linear-gradient(90deg, $gray1 50%, white 50%);

      & span {
        background: $blue;
        border-radius: 100%;
        width: 45px;
        height: 45px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &.selected {
      background: $gray1;
    }

    &:hover span{
      background: $blue;
      border-radius: 100%;
      width: 45px;
      height: 45px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}