.departing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;

  @media only screen and (max-width: 749px) {
    width: 100vw;
    height: 100%;
    background: white;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__header {
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin-bottom: 30px;
    align-items: center;

    @media only screen and (max-width: 749px) {
      width: 94%;
      margin: 30px 0;
      padding-bottom: 11px;
      border-bottom: 1px solid $blue;
      overflow-x: scroll;
      display: -webkit-box;
    }

    &Text {
      font-size: 13px;
      color: $blue;
      letter-spacing: 1px;
      cursor: pointer;
      flex: 4;
      text-align: center;

      @media only screen and (max-width: 749px) {
        margin-right: 20px;
        max-width: 140px;
      }

      &:hover {
        font-weight: bold;
        text-decoration: underline;
      }

      &.active {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 70%;

    @media only screen and (max-width: 749px) {
      width: 90%;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }

    &Text {
      color: $blue;
      font-size: 14px;
      display: flex;
      text-align: center;
      align-items: center;
      width: 220px;
      padding: 10px 0;
    }
  }
}