body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face{
  font-family: 'proxima';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/ProximaNova-Regular.otf')
  format("opentype")
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'proxima'
}

.App {
  padding: 0 60px;
  @media only screen and (max-width: 749px) {
    padding: 0;
    &__container {
      position: fixed;
      top: 0;
      z-index: 1;
    }
  }
}

/* colors */
$blue: #005edc;
$gray: #626366;
$gray1: #e8e9ec;

@import './components/Toolbar/toolbar';
@import './components/PillsBox/pills';
@import './components/Departing/departing';
@import './components/Calendar/calendar';
@import './components/MobileNav/mobileNav'
